WMS/Service References/QuizService/QuizService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4000/QuizService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceContracts.Entity" />
  <xs:element name="RequestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceContracts.Entity" minOccurs="0" name="requestEntityParam" nillable="true" type="q1:RequestEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceContracts.Entity" minOccurs="0" name="RequestServiceResult" nillable="true" type="q2:ArrayOfResponseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>