Presentation/Service References/DbService/DbService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DbService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4000/DbService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4000/DbService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4000/DbService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDbService_GetSensorList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSensorList" />
  </wsdl:message>
  <wsdl:message name="IDbService_GetSensorList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSensorListResponse" />
  </wsdl:message>
  <wsdl:message name="IDbService_GetDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataList" />
  </wsdl:message>
  <wsdl:message name="IDbService_GetDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataListResponse" />
  </wsdl:message>
  <wsdl:portType name="IDbService">
    <wsdl:operation name="GetSensorList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/GetSensorList" message="tns:IDbService_GetSensorList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/GetSensorListResponse" message="tns:IDbService_GetSensorList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/GetDataList" message="tns:IDbService_GetDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/GetDataListResponse" message="tns:IDbService_GetDataList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDbService" type="tns:IDbService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSensorList">
      <soap:operation soapAction="http://tempuri.org/IDbService/GetSensorList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataList">
      <soap:operation soapAction="http://tempuri.org/IDbService/GetDataList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DbService">
    <wsdl:port name="BasicHttpBinding_IDbService" binding="tns:BasicHttpBinding_IDbService">
      <soap:address location="http://localhost:4000/DbService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>