WMS.ConsoleApplication/ConsoleApplication1/Service References/ServiceReference1/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WMS.Common" />
  <xs:element name="GetAllSensors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="predicate" nillable="true" type="q1:FuncOfSensorbooleanDE01SzhP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSensorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WMS.Common" minOccurs="0" name="GetAllSensorsResult" nillable="true" type="q2:ArrayOfSensorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="predicate" nillable="true" type="q3:FuncOfDatabooleanDE01SzhP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WMS.Common" minOccurs="0" name="GetAllDataResult" nillable="true" type="q4:ArrayOfDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataBySensorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataBySensorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WMS.Common" minOccurs="0" name="GetDataBySensorIdResult" nillable="true" type="q5:ArrayOfDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestToWSN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WMS.Common" minOccurs="0" name="request" nillable="true" type="q6:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestToWSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WMS.Common" minOccurs="0" name="RequestToWSNResult" nillable="true" type="q7:ArrayOfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>